@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: 'Public Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Public Sans';
  src: local('Public Sans'), url(./fonts/PublicSans-Regular.ttf) format('truetype');
  /* src: local('Public Sans'), url(./fonts/PublicSans-Bold.ttf) format('truetype');
  src: local('Public Sans'), url(./fonts/PublicSans-SemiBold.ttf) format('truetype'); */

}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}